.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj


data/predictor-variables/
data/shapefiles/
data/spreadsheets/*
data/*.tiff
!data/spreadsheets/dart

misc/
rosm.cache/
sdm/markdown/*.html

genomics/ipyrad_files/AAP-reference_outfiles/
genomics/ipyrad_files/AFO-reference_outfiles/