.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
data/
data/predictor-variables/
data/shapefiles/
data/spreadsheets/*
data/*.tiff
!data/spreadsheets/dart
misc/
rosm.cache/
sdm/markdown/*.html
genomics/ipyrad_files/AAP-reference_outfiles/
genomics/ipyrad_files/AFO-reference_outfiles/
genomics/population-structure/ipyrad_pca1/
genomics/vcf_files/
tmp/
genomics/marspec/
genomics/ocean-cur/
genomics/scripts/rmd_report/
*.csv
genomics/*.pdf
ancestry_layer/
genetic_layer/marspec/
genetic_layer/nw_shapefile/
!genetic_layer/laevis/sample_list/ALA-popmap-coords.csv
!genetic_layer/laevis/output/*.csv
sdm/
!passage_layer/output/sbs_seed100_100pts_15h53m36s/sbs_seed100_100pts_15h53m36s.csv
!passage_layer/output/regular_seed1_50pts_17h53m10s/regular_seed1_50pts_17h53m10s.csv
passage_layer/output/regular_seed1_50pts_17h53m10s